<div class="p-5 vh-100 hero-main" >
  <div class="row">
    <div class="container bg-white shadow-lg px-4 py-3 col-9 rounded-4">
      <div class="row">
        <h2 class="pb-3 px-4 col-11">Pretraga dokumenata</h2>
      </div>
      <div class="row">
        <p><span style="font-weight: bold">Possible keywords:</span> employeeName, employeeSurname, governmentName, levelOfAdministration, address, content</p>
        <p><span style="font-weight: bold">Possible operators:</span> AND, OR, NOT</p>
        <p><span style="font-weight: bold">Example:</span> employeeName:'Marija' <span style="background-color: lightskyblue;border-radius: 5px;padding: 2px">AND</span> employeeSurname:'Milosevic' <span style="background-color: lightskyblue;border-radius: 5px;padding: 2px">OR</span> governmentName:'Neka Uprava'</p>
        <div class="col-10">
          <input type="text" class="form-control" [(ngModel)]="phrase">
        </div>
        <div class="col-2">
          <button type="button" class="btn " style="background-color: dodgerblue;color: white" (click)="search()">Search</button>
        </div>
        <div class="pt-3">
          <h4>Geolocation search</h4>
          <div class="row pt-2">
            <div class="form-group col-3">
              <label for="grad">Grad/Adresa</label>
              <input type="text" class="form-control" id="grad" name="grad" [(ngModel)]="location.city" >
            </div>
            <div class="form-group col-2">
              <label for="razdaljina">Razdaljina</label>
              <input type="number" class="form-control" id="razdaljina" name="razdaljina" [(ngModel)]="location.radius" >
            </div>
            <div class="col-2 pt-4">
              <button type="button" class="btn " style="background-color: dodgerblue;color: white" (click)="searchGeo()">Search</button>
            </div>
          </div>

        </div>
        <div class="row py-4">
          <h5 *ngIf="result.length != 0">Results</h5>
          <ng-container *ngFor="let res of result; let i = index">
            <a href="javascript:void(0);" (click)="open(res['path'])">{{res['title']}}.pdf</a>
            <p><em>{{this.highlighters[i]}}</em></p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
